.dialog-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 12px;
    z-index: 12;
    display: none;
}

.dialog-active {
    display: block!important;
}

.dialog {
    border: 1px solid;
    width: 450px;
    height: 500px;
    background: #fff;
    margin: 80px 100px;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 12px #ccc;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
}

.dialog-title {
    padding: 6px;
}

.line-1 {
    display: flex;
}

.ziti {

}

.ziti-title {

}

.ziti-input {

}

.line-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 15px;
}

.shili {
    height: 95px;
    width: 240px;
    margin-top: 20px;
    border: 1px solid rgb(220,220,220);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shili span {
    position: absolute;
    top: -10px;
    left: 4px;
    background: #eee;
    padding: 2px;
}

.jiaoben {
    width: 240px;
    margin-top: 10px;
}

.script {
    width: 240px;
    margin-top: 4px;
}

.line-3 {
    height: 80px;
    display: flex;
    align-items: flex-end;
    padding-left: 10px;
}

.dialog-list {
    height: 112px;
    border: 1px solid rgb(130, 135, 144);
    overflow-y: scroll;
    background: #fff;
}

.line-1-item {
    padding: 16px 0px 16px 16px;
}

.ziti-list {
    
}

.zixing {
    width: 130px;
}

.zixing input {
    width: 126px;
}

.daxiao {
    width: 96px;
}

.daxiao input {
    width: 92px;
}

.dialog-close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    font-size: 20px;
    transition: all 100ms ease-in-out;
}

.dialog-close:hover {
    background: rgb(232, 17, 35);
    color: rgb(240, 240, 240);
}

.dialog-container {
    background: rgb(240,240,240);
    flex: 1;
}

.line-4 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 44px;
}

.dialog-button {
    border: 1px solid rgb(173,173,173);
    padding: 4px 26px;
    margin-right: 15px;
    transition: all 200ms ease-in-out;
}

.dialog-confirm {
    border: 1px solid rgb(0,120,215);
}

.dialog-button:hover {
    border: 1px solid rgb(0,120,215)!important;
    background: rgb(229,241,251)!important;
}